@charset "utf-8";

/* 스킵네비게이션 */
#skip {position: relative;}
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 140px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}


/* 레이아웃 */
#wrap{width: 100%;}
#header{width: 100%;height: 325px;background: #111; background: url('../img/header_bg.jpg') center top repeat-x;}
#contents{width: 100%;height: 800px;background: #222;}
#footer{width: 100%;height: 200px; background:#333;}

/* 컨텐츠 레이아웃 */
#cont_nav {width: 100%; height: 200px; background: #333;}
#cont_tit {width: 100%; height: 200px; background: #444;}
#cont_ban {width: 100%; height: 200px; background: #555;}
#cont_cont {width: 100%; height: 200px; background: #666;}


.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3);}

.header{}
.header .header-menu{text-align: right;}
.header .header-menu a{columns: #fff;padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover{color:#666}
/* a태그는 인라인 속성이라 자체적으로는 text-align이 안 먹힘 */
/* 따라서 그 위에 부모한테 먹여서 옮긴다 */
/* 여기서 그냥 block을 쓰면 그 한줄씩 먹어서 세로로 배치되겠지만 inline속성을 유지하면서 padding 위아래가 먹히게 할려면 inline-block하게 함
 */

 .header .header-tit{text-align: center;}
 .header .header-tit {text-align: center;}
 .header .header-tit h1 {background-color: #4aa8d4; font-size: 28px; padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
 /* h1은 블록속성이라 가능 */
 /* 인라인속성이 필요한게 박스 색이 내용까지 나오게 하기 위해서 */
 /* 하지만 마진이나 패딩은 인라인에서 안먹히는 속성이라 인라인블록필요 */
 .header .header-tit a {display: inline-block; background-color: #2698cb; font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}
 .header .header-icon{}